
#first {
	display: ;
	

	}
	#first1 {
		display: ;
		border: 10px dotted;
		border-color: white;
		}

#second {
	display: none;
	}

#third {
	display: none;
	transform: rotate(90deg);
	}

	#garden {
		display: none;
		}
		#garde {
			display: none;
			}
			#gard {
				display: none;
				}
				#gar {
					display: none;
					}
					#ga {
						display: none;
						}
						#g {
							display: none;
							}
							#transition{
								display: none;
								width: 10px;
								height: 10px;
								background: lightskyblue;
								transition: height 2s;
							  }
							
							  #transition:hover{
								height: 230px;
							  }
							  #transition2{
								display: none;
								width: 20px;
								height: 20px;
								background:white;
								transition: height 2s;
							  }
							
							  #transition2:hover{
								height: 200px;
							  }
							  #transition3{
								display: none;
								width: 20px;
								height: 20px;
								background:white;
								transition: height 2s;
							  }
							
							  #transition3:hover{
								height: 200px;
							  }
							  #transition4{
								display: none;
								width: 20px;
								height: 20px;
								background:white;
								transition: height 2s;
							  }
							
							  #transition4:hover{
								height: 200px;
							  }


body {
  			background-color:yellowgreen;
}

@media screen and (max-width: 700px) {
  	body {
			background-color:yellowgreen;
			background-image: url("tinyglitter.gif");
		background-repeat: repeat;
  	}
  	
	  #first {display:inline-block;}
	  #first1 {display:inline-block;}
	  #transition {display:inline-block;}
	  #transition2 {display:none;}
  	#second {display:none;}	
  	#third {display:none;}
	  #garden{display:inline-block;}	
	  #garde{display:inline-block;}
	  #gard{display:inline-block;}
	  #gar{display:inline-block;}
	  #ga{display:inline-block;}
	  #g{display:inline-block;}

}

@media screen and (min-width: 700px) and (max-width: 1000px ) {
  	body {
		  background-color: yellowgreen;
		background-image: url("tinyglitter.gif");
		background-repeat: repeat;
		
  	}
	  #first {display:none;}
	  #first1 {display:none;}
	#second {display:inline-block;}	
	#transition {display:none;}
	#transition2 {display:inline-block;}
	#transition3 {display:inline-block;}
	#transition4 {display:inline-block;}
	  #third {display:none;}		
	  #garden{display:none;}	
	  #garde{display:none;}
	  #gard{display:none;}
	  #gar{display:none;}
	  #ga{display:none;}
	  #g{display:none;}
}

@media screen and (min-width: 1000px) {
  	body {
		background-color: yellowgreen;
		background-image: url("lflower.gif");
		background-repeat: repeat;
  	}
	  #first {display:none;}
	  #first1 {display:none;}
	  #transition {display:none;}
	#transition2 {display:none;}
  	#second {display:none;}	
	  #third {display:none;}	
	  #third {display:none;}		
	  #garden{display:none;}	
	  #garde{display:none;}
	  #gard{display:none;}
	  #gar{display:none;}
	  #ga{display:none;}
	  #g{display:none;}
}
		
